<launch>
  <node pkg="auto_loadmap" type="preprocessing" name="preprocessing" output="screen">
    <param name="radius_max" value="20.0" />
    <param name="downsample_resolution" value="0.5" />
    <param name="particles_num" value="200" />
    <param name="n_startup_trials" value="50" />
    <param name="map_frame" value="enu" />
    <param name="filter_point_lidar" value="3.0" />


    
    <!-- <remap from="velodyne_points" to="/sensing/lidar/top/rectified/pointcloud_bag" /> -->
    <remap from="velodyne_points" to="/sensing/lidar/top_c32/lslidar_point_cloud" />
  </node>
</launch>